# udev rules to set the access rights of Omnikey smart card readers
# so they can be used by pcscd

ACTION!="add", GOTO="pcsc_ifdokccid_rules_end"
SUBSYSTEM!="usb", GOTO="pcsc_ifdokccid_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="pcsc_ifdokccid_rules_end"

ATTRS{idVendor}=="046a", ATTRS{idProduct}=="0010", ENV{PCSCD}="1"
ATTRS{idVendor}=="046a", ATTRS{idProduct}=="002d", ENV{PCSCD}="1"
ATTRS{idVendor}=="046a", ATTRS{idProduct}=="007b", ENV{PCSCD}="1"
ATTRS{idVendor}=="046a", ATTRS{idProduct}=="0090", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="0596", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="1021", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="1784", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="1bd0", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="1bd1", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3020", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3021", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3022", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3620", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3621", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3623", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3821", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3822", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3823", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="4321", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="6622", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="6623", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="7021", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="8630", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="9621", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a011", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a012", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a021", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a022", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a023", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a024", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a111", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a112", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="a721", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c000", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c200", ENV{PCSCD}="1"
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="c300", ENV{PCSCD}="1"
ATTRS{idVendor}=="0bf8", ATTRS{idProduct}=="1005", ENV{PCSCD}="1"
ATTRS{idVendor}=="0bf8", ATTRS{idProduct}=="1006", ENV{PCSCD}="1"

LABEL="pcsc_ifdokccid_rules_end"
